<div class="background">
    <div class="wrapper">
        <div class="container head">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6 image">
                    <img class ="logo" src="../../assets/images/cloudfactory.png">
                    <p>Welcome to Cloudfactory Canteen</p>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
        <div class="container login-container">
            <div class="row">
                <div class="col-md-6 login-form-1">
                    <app-admin-login [returnUrl] = "adminReturnUrl"></app-admin-login>
                </div>
                <div class="col-md-6 login-form-2">
                    <app-user-login [returnUrl] = "userReturnUrl"></app-user-login>
                </div>
            </div>
        </div>
    </div>
</div>