
h3{
    text-align: center;
    color: #fff;
}


.btnSubmit{
    font-weight: 600;
    color: #0062cc;
    background-color: #fff;
}
.ForgetPwd{
    color: #fff;
    font-weight: 600;
    text-decoration: none;
}


.btnSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
}