<div class="container login-container">
    <div class="row">
        <div class="col-md-12 register">
            <form>
                <div class="form-group">
                    <label for="openTime">Open Time</label>
                    <input type="time" class="form-control" id="openTime" aria-describedby="emailHelp"
                        placeholder="Enter Open Time">
                </div>
                <div class="form-group">
                    <label for="closeTime">Close Time</label>
                    <input type="time" class="form-control" id="closeTime" aria-describedby="emailHelp"
                        placeholder="Enter Close Time">
                    <button type="submit" class="btn btn-primary confirm">Confirm</button>
                </div>
            </form>
        </div>
    </div>
</div>