
h3{
    text-align: center;
    color: #333;
}


.ForgetPwd{
    color: #0062cc;
    font-weight: 600;
    text-decoration: none;
}

.btnSubmit{
    font-weight: 600;
    color: #fff;
    background-color: #0062cc;
}

.btnSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
}