
<div class="container login-container">
    <div class="row">
        <div class="col-md-12 order-table">
            <h5>8:00-8:15</h5>
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Ordered By</th>
                        <th scope="col">Items</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Price(Total)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">manil.pun@es.cloudfactory.com</th>
                        <td>Momo</td>
                        <td>1</td>
                        <td>90</td>
                    </tr>
                    <tr>
                        <th scope="row">subin.gurung@es.cloudfactory.com</th>
                        <td>Chowmein</td>
                        <td>1</td>
                        <td>80</td>
                    </tr>
                    <tr>
                        <th scope="row">arjun.ghimire@es.cloudfactory.com</th>
                        <td>Thukpa</td>
                        <td>1</td>
                        <td>80</td>
                    </tr>
                </tbody>
            </table>
            <h5>8:15-8:30</h5>
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Ordered By</th>
                        <th scope="col">Items</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Price(Total)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">ramesh.acharya@es.cloudfactory.com</th>
                        <td>Samosa Curry</td>
                        <td>2</td>
                        <td>100</td>
                    </tr>
                    <tr>
                        <th scope="row">santosh.thapa@es.cloudfactory.com</th>
                        <td>Chowmein</td>
                        <td>3</td>
                        <td>240</td>
                    </tr>
                    <tr>
                        <th scope="row">ganesh.gurung@es.cloudfactory.com</th>
                        <td>Thukpa</td>
                        <td>1</td>
                        <td>80</td>
                    </tr>
                </tbody>
            </table>
            <h5>8:30-8:45</h5>
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Ordered By</th>
                        <th scope="col">Items</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Price(Total)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">pratik.ghimire@es.cloudfactory.com</th>
                        <td>Momo</td>
                        <td>1</td>
                        <td>90</td>
                    </tr>
                    <tr>
                        <th scope="row">prajwal.rai@es.cloudfactory.com</th>
                        <td>Chowmein</td>
                        <td>1</td>
                        <td>80</td>
                    </tr>
                    <tr>
                        <th scope="row">kripa.thapa@es.cloudfactory.com</th>
                        <td>Thukpa</td>
                        <td>1</td>
                        <td>80</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>