
.login-container{
    margin-top: 1%;
    margin-bottom: 5%;
}
.order-table{
    padding: 5%;
    background: #87CEEB;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.order-table h3{
    text-align: center;
    color: #333;
    margin-bottom: 50px;
}
.order-table h5{
    color: #fff;
}
.login-container form{
    padding: 10%;
}
.btnSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
}
.login-form-1 .menuTable{
    width: 100%;
    margin: auto;
}
.login-form-1 .menuTable th,td{
    font-size: 22px;
}