.head .image.cf img {
    margin-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

.head .image.fs img{
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.head .image p{
    margin-top: 10px;
    text-align: center;
    font-size: 28px;
    color: white;
    font-weight: bolder;
}