<div class="wrapper">
    <div class="container head">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6 image">
                <h4>Canteen is open from 8:00 AM to 8:00 PM</h4>
                <img src="../../assets/images/cloudfactory.png">
                <p>Welcome to Cloudfactory Canteen</p>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
    <div class="container login-container">
        <div class="row">
            <div class="col-md-6 login-form-1">
                <app-user-menu></app-user-menu>
            </div>
            <div class="col-md-6 login-form-2">
                <app-user-order></app-user-order>
            </div>
        </div>
    </div>
</div>