<div class="background">
    <div class="wrapper">

        <app-header></app-header>
        <div class="container">
            <div class="row pt-5">
                <div class="col-md"></div>
                <div class="col-md-4 col-sm-4">
                    <div class="box one" routerLinkActive="active">
                        <h4><a [routerLink]="'../menu'" routerLinkActive="nav-link disabled">Menu Customization</a></h4>
    
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 ml-4">
                    <div class="box two" routerLinkActive="active">
                        <h4><a [routerLink]="'../availability'" routerLinkActive="nav-link disabled">Today Availability</a>
                        </h4>
                    </div>
                </div>
                <div class="col-md"></div>
            </div>
            <div class="row pt-4">
                <div class="col-md"></div>
                <div class="col-md-4">
                    <div class="box two" routerLinkActive="active">
                        <h4><a [routerLink]="'../orders'" routerLinkActive="nav-link disabled">Orders</a></h4>
    
                    </div>
                </div>
                <div class="col-md-4 ml-4 ">
                    <div class="box one" routerLinkActive="active">
                        <h4><a [routerLink]="'../sales-reports'" routerLinkActive="nav-link disabled">Sales Reports</a></h4>
    
                    </div>
                </div>
                <div class="col-md"></div>
            </div>
        </div>
    </div>
</div>